html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    height: 100%;
    background-color: #171717;
}


.informative_graphics {
    width: 703px;
    height: 205px;


    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;

    background-image: url("../images/programatic_big_logo.jpg");
    color: #171717;
    background-size:cover;
}